extends layout

block content
  h1(class="mainText text-center") Baby Shower RSVPer 
    span= baby.fullName
  hr
  div(class="container")
    div(class="row")
      div(clss="col-md-12")
        h3 Email: 
          span= baby.email
    h2 Will Be Accompanied By:
    div(class="row")
      div(class="col-sm-6")
        h4= baby.kids 
          span Children
      div(class="col-sm-6")
        h4= baby.adults 
          span Adults
  div(id="margy")