extends layout

block content
  div(id="body")
    div(class="container")
      h1(class="mainText") Rena Will Be Born In
      div(id="countdown")
      h1(class="mainText") August 21st 2018
  div(class="container")
    div(class="row")
      div(class="col-md-4")
        a(class="nav-link" href="/wedding" id="logo")
          img(src="http://musicplusfaith.com/wp-content/uploads/2013/06/top-christian-wedding-songs.jpg" class="img-fluid")
      div(class="col-md-4")
        a(class="nav-link" href="/babyshower" id="logo")
          img(src="/images/babyshowerInvite2.png" class="img-fluid")
      div(class="col-md-4")
        div(id="homeRsvp")
          center
            h4 Click to RSVP
            div(id="weddingRsvp" data-toggle="modal" data-target="#weddingModal") 
              a(href="/weddingrsvp") Wedding RSVP
            div(id="babyRsvp" data-toggle="modal" data-target="#babyModal")
              a(href="/babyrsvp") Baby Shower RSVP
  script(src="/js/countdown.js")