extends ../layout

block content
  div(id="body")
    div(class="container")
      h1(class="mainText") Rena Will Be Born In
      div(id="countdown")
      h1(class="mainText") August 21st 2018
  br
  div(class="container"  class="babyShower")
    div(class="row")
      div(class="col-md-12")
        h1(class="text-center") Join us as We Celebrate the Birth of Rena
        hr
    div(class="row")
      div(class="col-md-4")
        img(src="http://www.nycgovparks.org/photo_gallery/full_size/19570.jpg" class="img-fluid")
      div(class="col-md-8")
        h2(class="text-center") When and Where
        hr
        div(class="row")
          div(class="col-md-6")
            h5 
              b Date: 
              span June 15th 2018 
                small 8pm - 12am
            h5 
              b Time: 
              span 8pm - 12am
            h5 
              b Where: 
              span Samuel Cardinal Stritch Council - Knights of Columbus
            p 
              span 349 Quentin RdBrooklyn, NY 11223 
            p b/t Mcdonald Ave and Dahill Rd 
              span Gravesend, Bensonhurst
          div(class="col-md-6")
            div(id="homeRsvp")
              center
                h4 Click to RSVP
                div(id="weddingRsvp" data-toggle="modal" data-target="#weddingModal") 
                  a(href="/babyrsvp") Baby Shower RSVP
  div(id="margy")
  script(src="/js/countdown.js")