extends ../layout

block content
  div(id="weddingBody")
    div(id="splash")
      h2(class="text-center") Join Us On June 15th
      h3(class="text-center") As We Celebrate our Union
  br
  div(class="container-fluid" id="breath")
    div(class="row")
      div(class="col-md-3 col-sm-6")
        img(src="/images/wedding/IMG_4056.JPG" style="width:100%" id="img")
      div(class="col-md-3 col-sm-6")
        img(src="/images/wedding/IMG_4563.JPG" style="width:100%" id="img")
      div(class="col-md-3 col-sm-6")
        img(src="/images/wedding/IMG_4565.JPG" style="width:100%" id="img")
      div(class="col-md-3 col-sm-6")
        img(src="/images/wedding/IMG_4567.JPG" style="width:100%" id="img")
    br
    div(class="row" id="breather")
      div(class="col-md-3 col-sm-6")
        img(src="/images/wedding/IMG_4572.JPG" style="width:100%" id="img")
      div(class="col-md-3 col-sm-6")
        img(src="/images/wedding/IMG_4574.JPG" style="width:100%" id="img")
      div(class="col-md-3 col-sm-6")
        img(src="/images/wedding/IMG_4833.JPG" style="width:100%" id="img")
      div(class="col-md-3 col-sm-6")
        img(src="/images/wedding/IMG_4834.JPG" style="width:100%" id="img")
    br
    div(id="us")
      div(id="weddingSplash")
        h4 “You know you're in love when you can't fall asleep because reality is finally better than your dreams.”
        h4 ― Dr. Seuss
    br
    div(class="container")
      div(class="row")
        div(class="col-md-4")
          img(src="http://www.columbuscouncil126kofc.com/sitebuildercontent/sitebuilderpictures/DS0083.JPG" style="width:100%")
        div(class="col-md-8")
          div(class="row")
            div(class="col-md-12")
              h3(class="text-center") When and Where
              hr
          div(class="row")
            div(class="col-md-6")
              h5 
                b Date: 
                span June 15th 2018 
                small 8pm - 12am
              h5 
                b Time: 
                span 8pm - 12am
              h5 
                b Where: 
                span Samuel Cardinal Stritch Council - Knights of Columbus
              p 
                span 349 Quentin RdBrooklyn, NY 11223 
              p b/t Mcdonald Ave and Dahill Rd 
                span Gravesend, Bensonhurst
            div(class="col-md-6")
              div(id="homeRsvp")
                center
                  h4 Click to RSVP
                  div(id="weddingRsvp" data-toggle="modal" data-target="#weddingModal") 
                    a(href="/weddingrsvp") Wedding RSVP
  div(id="margy")
  script(src="/js/map.js")