extends ../layout

block content
  h1(class="mainText text-center") Rsvp for our Wedding Reception
  hr
  div(id="formy")
    form(action="/rsvp/wedding" method="POST")
      label(for="fullName") Full Name
      br
      input(type="text" name="fullName" class="form-control" required)
      br
      label(for="email") Email
      br
      input(type="email" class="form-control" name="email")
      br
      h4 Are you bringing any guests?
      label(for="adults") How many adults?
      br
      input(type="number" class="form-control" name="adults")
      br
      label(for="kids") How many children?
      br
      input(type="number" class="form-control" name="kids")
      br
      button(class="btn btn-primary") Send RSVP
  div(id="margy")